@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.scrollbox::-webkit-scrollbar {
  width: 12px;
}

.scrollbox::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbox::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollbox:hover::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #898989;
}

.scrollbox::-webkit-scrollbar-thumb:active {
  background: #a5a5a5;
}

.scrollbox {
  scrollbar-gutter: stable;
}

.background {
  background-color: #1b1b38;
  background-image: url("/square.svg");
}

.adjust-text {
  text-wrap: balance;
}

.links {
  color: #dfe5f3;
  text-decoration: none;
  background-image: linear-gradient(#222b40, #222b40),
    linear-gradient(rgb(176, 251, 188), rgb(176, 251, 188)),
    linear-gradient(#feb2b2, #feb2b2);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 2s linear, background-position 2s linear;
}

.links:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.main {
  @apply flex flex-row h-screen justify-between gap-4 p-4;
}

.presentation-main {
  @apply flex flex-col gap-11 w-max rounded-t-lg overflow-x-hidden overflow-y-scroll;
}

.profile-description {
  @apply text-[16px] leading-6 text-text-secondary font-normal mt-5 whitespace-normal line-clamp-6 adjust-text;
}

.main-container-section {
  @apply flex flex-col w-full;
}

.section-container {
  @apply flex flex-col text-center px-48 mb-12;
}

.section-title {
  @apply text-[32px] leading-10 text-text-primary font-bold;
}

.section-description {
  @apply text-[15px] leading-6 text-text-secondary font-normal mt-6 whitespace-normal line-clamp-6 text-left;
}

.card-knowledge-container {
  @apply grid sm:grid-cols-1 w-full md:grid-cols-2 lg:grid-cols-3 gap-5;
}

.card-knowledge {
  @apply flex flex-col bg-primaryBG items-center text-center text-text-primary pt-6 pb-10 mx-2 shadow-lg shadow-emerald-500 rounded-lg hover:scale-95;
}

.last-card-knowledge {
  @apply flex flex-col bg-primaryBG items-center text-center gap-4 px-14 py-10 mx-2 shadow-lg shadow-emerald-500 rounded-lg hover:scale-95 justify-center;
}

.card-portfolio-container {
  @apply flex items-start justify-between gap-8 overflow-x-scroll;
}

.footer {
  @apply bg-primaryBG rounded-t-lg w-full py-3 px-10 text-center text-sm text-text-secondary;
}

.presentation-container {
  @apply grid grid-flow-col bg-primaryBG w-full px-16 gap-32 rounded-lg;
}
.principal-title {
  @apply text-[48px] tracking-tighter leading-snug text-text-primary font-bold relative whitespace-normal line-clamp-3;
}

.accent-title {
  @apply before:absolute before:-inset-0.5 before:-skew-y-1 before:bg-emerald-400 relative inline-block;
}

.arrows {
  @apply group-hover:translate-x-1 transition-transform duration-300 ease-in;
}